<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset = "utf-8"/>
        <title>HealthyMe</title>
        <meta name = "author" content= "Lisa V Huang">
        <link rel = "stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<!--fonts-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Sriracha&display=swap" rel="stylesheet">
</head>
<body>

{% include 'partials/header.html' %}
