header{
	font-family:"Sriracha";
	height:50px;
	width:auto;
}
img{
	padding:10px;
	width:150px;
	height:auto;
}
.nav-bar{
	height:auto;
	width:auto;
}
.product-name{
	float:left;
	color:#CD4631;
	text-align:center;
	padding:14px 16px;
	text-decoration:None;
	font-size:20px;
}
.horizontal-box {
	text-align:center;
	float:left;
	display:flex;
	padding: 5px 5px;
}

header .nav-bar a{
	float: left;
	color: black;
	text-align: center;
	padding: 16px 10px;
	text-decoration: none;
	font-size: 17px;
}
header .nav-bar a:hover{
	color:grey;
}
body{
	font-family:"Raleway",sans-serif;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Raleway", sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #F5CC00;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FFE66D;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
