{%include "partials/head.html"%}
<div class="container">
	<h2>Pacing</h2>
	<p>Your ideal pacing can be impacted by the heat and humidity of the environment! Here are some tips and advised pacings based off of your current data! This is based off of <a href = "https://www.wickedbonkproof.com/running-training-tips/-adjusting-pace-for-heat" >this link </a></p>
	<h3>Your steps per minute is
		<em>{{bpm}}</em> check out what songs that can keep you pumped in the playlists tab!
	</h3>
	<h3>
		Your average pacing under good conditions is {{mile_time}}
	</h3>

	{{table}}	
</div>
